
:root {
    --bg-color: #40484F ;
    --secondary-bg-color: #000513;
    --fg-color: rgb(196, 218, 1);
    --secondary-fg-color: #c0c0c0;
    --highlight-color:rgb(58, 94, 226);
    --hover-color: #292929;
    --border-color: #2D2D2D;
    --button-color: #2B2B2B;
}

h1{
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    color: var(--fg-color);
}

p{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
}

h3{
    color: var(--fg-color);
}

body{
    background: var(--secondary-bg-color)
}
ul{
    color: var(--secondary-fg-color);
}
a{
    color:var(--secondary-fg-color);
}

.card{
    color: var(--secondary-fg-color);
    background: var(--bg-color);
    border: 0px;
    margin-bottom: 20px;
    border-radius: 13px;
    padding-right:0;
}

.card h2{
    text-align:center;
    color: var(--fg-color);
}

.card h3{
    text-align: center;
    color:var(--fg-color);
}

.card ul li{
    background:var(--bg-color);
}

.pgs{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.pgs ul li{
    text-align: center;
    padding: 0px;
    padding-bottom: 5px
}


.card ul li a{
    color: lavender;
}

.card ul li.list-group-item-primary{
    background: var(--highlight-color);
}

#about li{
    padding-top: 5px;
    padding-bottom: 5px
}

#about{
    padding-top: 20px;
}

@media only screen and (min-width: 580px) {

.non-desktop{
    visibility: collapse;
}
.non-mobile{
    visibility: visible;
}

}


@media only screen and (max-width: 580px) {

    .non-mobile{
        visibility: collapse;
    }

    .non-desktop{
        visibility: visible;
    }

}
